<!--groups/group.html-->

<h1>Group Info</h1>
<img src="{{group.image_url}}" style="max-width: 100;" style="max-height: 100 ;">
<h3>Raid-Level-Faction : {{group.raid_name}}</h3>
<h3>Discord ID: {{group.discord_group}}</h3>
<h3>Time : {{group.time}}</h3>
<h3>Player needed : {{group.player_needed}}</h3>
<h3>Leader : {{group.player_tag}}</h3>
<!-- <ul>
    {% for player in groups %}
        <li>
            <li>
                {{player.player_tag}}
    
            </li>
        {% endfor %}
    </ul> -->