<!-- groups/home.html -->

<center>
<h1>WORLD OF WARCRAFT RAID FINDER</h1>
</center>

<!-- DISPLY THE CENTEXT DATA-->
<!--{{group}}-->

<!-- scriptlet code to display the value of the variable `quotes` 
{{ group }}
-->

<h3>Group:</h3>
<ul>
    {% for group in groups %}
     <li>
        <img src="{{group.image_url}}" style="max-width: 50;" style="max-height: 50 ;">
        {{group}}
       
     </li>
    {% endfor %}
</ul>

<!-- if it need image-->
<!--<ul>
    {% for quote in quotes %}
    <li>"{{quote.text}}" - {{quote.author}}<br>
        <img src="{{quote.image_url}}" style="max-width: 400;">
    </li>
    {% endfor %}
</ul>--> 

